Source: statusbar-alarm
Section: x11
Priority: optional
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev,
 statusbar-alarm-dev, libhildondesktop1-dev, libtime-dev,
 libhildon1-dev, libosso-dev, libgconf2-dev, osso-af-settings
Standards-Version: 3.7.2

Package: statusbar-alarm
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, hildon-libs-l10n-mr | hildon-libs-l10n-mr0, osso-clock-l10n-mr | osso-clock-l10n-mr0
Description:  Status Area plugin for Clock & Alarms
 Plugin showing current time and indicating if there is any alarm set.
